alembic==1.0.7
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.2.0
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.7.4
contextlib2==0.5.5
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Babel==0.9
Flask-Cors==3.0.8
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
funcsigs==1.0.2
idna==2.7
importlib-metadata==0.18
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10.1
lxml==4.5.2
Mako==1.0.7
Markdown==3.1
MarkupSafe==0.23
more-itertools==5.0.0
normality==0.2.4
openpyxl==2.6.0
packaging==19.0
pathlib2==2.3.4
pluggy==0.12.0
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.0
pytest==4.6.9
pytest-base-url==1.4.1
pytest-flask==0.15.0
pytest-html==1.21.1
pytest-metadata==1.8.0
pytest-selenium==1.17.0
pytest-variables==1.7.1
python-dateutil==2.7.3
python-editor==1.0.4
python-docx==0.8.10
pytz==2015.7
requests==2.20.0
scandir==1.10.0
selenium==3.141.0
six==1.15.0
speaklater==1.3
SQLAlchemy==1.3.0
unicodecsv==0.14.1
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==0.15.5
xlrd==1.1.0
zipp==0.5.2
