atomicwrites==1.3.0
Click==7.1.2
contextlib2==0.5.5
exchangerates==0.3.4
future==0.18.2
Flask==1.1.1
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.4.4
iatiflattener==0.1.5b5
jdcal==1.3
lxml==4.6.2
normality==0.2.4
openpyxl==3.0.7
pluggy==0.13.1
python-docx==0.8.10
requests==2.25.1
six==1.15.0
unicodecsv==0.14.1
urllib3==1.24.2
