#finances table td fieldset.form-group {
  margin-bottom: inherit;
}

#sectors fieldset.form-group {
  margin-bottom: inherit;
}

#organisations fieldset.form-group {
  margin-bottom: inherit;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.nowrap div.input-group {
  flex-wrap: nowrap;
}
bootstrap3.body {
    margin-top:60px;
}
#location-container {
  min-width:300px;
  width:100%;
  height:400px;
}
.hidden {
  opacity: 0;
}
.draggable-item {
  cursor: pointer;
}
.width-25pct {
  width: 25%;
}
  #locationMap {
    width: 100%;
    height: 400px;
}
@media print
{
  body {
    margin-top: 0px !important;
  }
  #results, #documents, #financialdata {
    page-break-before: always !important;
    break-before: always !important;
  }
  .edit-project-button {
    display: none;
  }
  #locationMap .leaflet-control-container {
    display: none;
  }
}
#reportingOrgDataQuality .far.fa-times-circle.text-secondary {
  opacity: 0.5;
}
#reportingOrgDataQuality th.table-light, #reportingOrgDataQuality td.table-light,
#milestones th.table-light, #milestones td.table-light {
  background-color: #dee2e6
}
.select-fg .form-control-feedback {
  right: 45px !important;
}
.input-fg .form-control-feedback {
  right: 45px !important;
}
#projects-data {
  margin-top:10px;
}
#projects-data .tablesorter-header {
  white-space: nowrap;
}
#finances td.has-feedback span.form-control-feedback,
#milestones td.has-feedback span.form-control-feedback,
#conditions td.has-feedback span.form-control-feedback {
  top: 7px;
  right: 20px;
}
#milestones .checkbox,
#conditions .checkbox {
  margin-top: 0px;
}
#milestones .checkbox span.form-control-feedback,
#conditions .checkbox span.form-control-feedback {
  line-height:20px;
}
#finances td.currency-conversion.has-feedback span.form-control-feedback {
  top: 7px;
  left: 0px;
}
#finances td div.has-feedback .input-group span.form-control-feedback {
  right: 40px;
}
td.number, th.number {
  text-align: right;
}
td.number input, th.number input {
  text-align: right;
}
#locationSelector label {
  text-align: left;
}
#locationSelector label.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.mtef-sector-09 {
  fill: #555E7B !important;
  background-color: #555E7B !important;
}
.mtef-sector-07 {
  fill: #B7D968 !important;
  background-color: #B7D968 !important;
}
.mtef-sector-08 {
  fill: #B576AD !important;
  background-color: #B576AD !important;
}
.mtef-sector-05 {
  fill: #E04644 !important;
  background-color: #E04644 !important;
}
.mtef-sector-11 {
  fill: #FDE47F !important;
  background-color: #FDE47F !important;
}
.mtef-sector-10 {
  fill: #7CCCE5 !important;
  background-color: #7CCCE5 !important;
}
.mtef-sector-02 {
  fill: #A6C5F4 !important;
  background-color: #A6C5F4 !important;
}
.mtef-sector-01 {
  fill: #8BEDE5 !important;
  background-color: #8BEDE5 !important;
}
.mtef-sector-04 {
  fill: #5F74D3 !important;
  background-color: #5F74D3 !important;
}
.mtef-sector-06 {
  fill: #7FAD22 !important;
  background-color: #7FAD22 !important;
}
.mtef-sector-03 {
  fill: #00BAE0 !important;
  background-color: #00BAE0 !important;
}
#finances table th {
  white-space: nowrap;
}
#finances table td div.form-group,
#milestones table td div.form-group,
#counterpart-funding-data table td div.form-group {
  margin-bottom: 0px;
}
.intro {
    padding: 0 20px 130px 0;
}
.intro-message {
    background-color: #ffffff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-color: #eeeeee;
    margin-top: 100px;
    width: 420px;
    box-shadow: 1px 1px 3px #666666;
}
.intro-message h1 {
    color: #333333;
    font-size: 50px;
    padding: 0 10px 10px 70px;
    text-shadow: 1px 1px 2px #dddddd;
    /*font-family: "Trebuchet MS","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;*/
}
img.brand {
  padding: 0}

.date-select .min-date, .date-select .max-date {
  font-weight: bold;
  margin: auto 10px auto 10px;
  width: 5%;
}
.slider.slider-horizontal {
  width: 70% !important;
  margin-left: 10px;
  margin-right: 10px;
}
.form-activity-filters .form-group {
  margin-bottom:5px;
}

.navbar-brand > img {
  display: inline;
}
.dashboard-chart {
  height: 500px;
}
.help-page h2, .help-page h3 {
    padding-top: 70px;
    margin-top: -50px;
}

.progress .progress-bar {
  max-width: 100%;
}


pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
pre .string { color: green; }
pre .number { color: darkorange; }
pre .boolean { color: blue; }
pre .null { color: magenta; }
pre .key { color: red; }