body {
    margin-top:60px;
}
#locationMap {
    min-width:300px;
    width:100%;
    height:400px;
}
.select-fg .form-control-feedback {
  right: 45px !important;
}
.input-fg .form-control-feedback {
  right: 45px !important;
}