body {
    margin-top:60px;
}
#locationMap {
    min-width:300px;
    width:100%;
    height:400px;
}
.select-fg .form-control-feedback {
  right: 45px !important;
}
.input-fg .form-control-feedback {
  right: 45px !important;
}
#projects-data {
  margin-top:10px;
}
#projects-data .tablesorter-header {
  white-space: nowrap;
}
#finances td.has-feedback span.form-control-feedback,
#milestones td.has-feedback span.form-control-feedback,
#conditions td.has-feedback span.form-control-feedback {
  top: 7px;
  right: 20px;
}
#milestones .checkbox,
#conditions .checkbox {
  margin-top: 0px;
}
#milestones .checkbox span.form-control-feedback,
#conditions .checkbox span.form-control-feedback {
  line-height:20px;
}
td.number, th.number {
  text-align: right;
}

.toc {
  border: 1px solid #eeeeee;
  padding: 8px;
  float: right;
  width: 350px;
  clear: none; }
  @media screen and (max-width: 600px) {
    .toc {
      width: 100%; } }
  .toc .toctitle {
    font-size: 24px;
  }
  .toc li {
    list-style-type: none;}
  .toc ul {
    margin-left: 0px; }
  .toc ul li {
    list-style-type: square;}
  .toc ul li ul {
    margin-left: 0px;
  }
  .toc ul li ul li {
    list-style-type: circle;
  }

  .toc li > ul, .toc li > ol {
    margin-left: 10px; }

/* D3 TIP */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  font-size: 1.2em;
  top: 0;
/* Creates a small triangle extender for the tooltip */
/* Northward tooltips */
/* Eastward tooltips */
/* Southward tooltips */
/* Westward tooltips */ }
.d3-tip::after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none; }
.d3-tip.n:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center; }
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px; }
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center; }
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%; }

/* Loading spinner */

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.loader {
  -webkit-animation:spin2 2s infinite linear;
  animation:spin 2s infinite linear;
}

/* Pie charts */
#sectors-pie {
  width: 900px;
  height:270px;
  margin-left: auto;
  margin-right: auto;
}

.mtef-sector-09 {
  fill: #555E7B !important;
  background-color: #555E7B !important;
}
.mtef-sector-07 {
  fill: #B7D968 !important;
  background-color: #B7D968 !important;
}
.mtef-sector-08 {
  fill: #B576AD !important;
  background-color: #B576AD !important;
}
.mtef-sector-05 {
  fill: #E04644 !important;
  background-color: #E04644 !important;
}
.mtef-sector-11 {
  fill: #FDE47F !important;
  background-color: #FDE47F !important;
}
.mtef-sector-10 {
  fill: #7CCCE5 !important;
  background-color: #7CCCE5 !important;
}
.mtef-sector-02 {
  fill: #A6C5F4 !important;
  background-color: #A6C5F4 !important;
}
.mtef-sector-01 {
  fill: #8BEDE5 !important;
  background-color: #8BEDE5 !important;
}
.mtef-sector-04 {
  fill: #5F74D3 !important;
  background-color: #5F74D3 !important;
}
.mtef-sector-06 {
  fill: #7FAD22 !important;
  background-color: #7FAD22 !important;
}
.mtef-sector-03 {
  fill: #00BAE0 !important;
  background-color: #00BAE0 !important;
}
#finances table th {
  white-space: nowrap;
}
#finances table td div.form-group,
#milestones table td div.form-group,
#counterpart-funding-data table td div.form-group {
  margin-bottom: 0px;
}
.intro {
    padding: 0 20px 130px 0;
    position: relative;
}
.intro-message {
    position: relative;
    z-index: 999;
    background-color: #ffffff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-color: #eeeeee;
    margin-top: 100px;
    width: 420px;
    box-shadow: 1px 1px 3px #666666;
}
.intro-message h1 {
    color: #333333;
    font-size: 50px;
    padding: 0 10px 10px 70px;
    text-shadow: 1px 1px 2px #dddddd;
    /*font-family: "Trebuchet MS","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;*/
}
#locationMap {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .intro {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .intro-message {
    position:inherit;
    margin-top:0px;
    /*box-shadow: none;*/
    border:none;
    background-color: #369;
    width:100%;
  }
  .intro-message h1 {
    width: 100%;
    margin: 0px;
    font-size: 35px;
    padding: 10px 0px 10px 10px;
    color:#fff;
  }
  #locationMap {
    position:inherit;
  }
}
.navbar-brand {
  height: 50px;
  color:#333333;
  max-height: 50px;
  overflow: visible;
  padding-top: 10px;
  padding-bottom: 0;
}
.navbar-default {
    background: #fefefe;
    background: -moz-linear-gradient(180deg,#ffffff 0%,#eeeeee 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#3e9336),color-stop(100%,#7c9ac4));
    background: -webkit-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: -o-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: -ms-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e9336',endColorstr='#7c9ac4',GradientType=1);
    border-bottom:1px solid #cccccc;
    /*
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: outset 0 3px 7px rgba(0,0,0,.2),inset 0 3px 7px rgba(0,0,0,.2);
    padding:60px 0 30px;
    margin-top:none;
    top:0;
    color:#ffffff;*/

}
img.brand {
  padding: 0}
.slider-track .slider-track-low, .slider-track .slider-track-high {
  background-color: #e0e0e0;
}
.slider-selection {
  background: #337ab7 !important;
}
.date-select .min-date, .date-select .max-date {
  font-weight: bold;
  margin: auto 10px auto 10px;
  width: 5%;
}
.slider.slider-horizontal {
  width:80% !important;
}
.form-activity-filters .form-group {
  margin-bottom:5px;
}

.navbar-brand > img {
  display: inline;
}
.dashboard-chart {
  height: 500px;
}
#filtersAppliedLabel {
  float:right;
  display:none;
  border: 1px solid none;
}
#filtersAppliedLabel a {
  color: #ffffff;
}
.help-page h2, .help-page h3 {
    padding-top: 70px;
    margin-top: -50px;
}
