{% set active_page='activity' %}{% extends "layout2.html" %}
{% block title %}Edit Activity{% endblock %}
{% block content %}
<style>
  .table span.form-control-feedback {
    top: 0;
  }
</style>
<b-row v-if="activity">
  <b-col sm="10">
    <h1 v-if="mode=='new'">New Activity<span v-if="activity">: [[ activity.title ]]</span></h1>
    <h1 v-else >Edit activity<span v-if="activity">: [[ activity.title ]]</span></h1>
  </b-col>
  <b-col sm="2">
    <b-btn variant="success" :href="activity.url" v-if="mode=='edit'">
      <i class="fa fa-save"></i>
      Save and exit project
    </b-btn>
  </b-col>
</b-row>

<b-row>
  <b-col class="text-center" v-if="isBusy" style="margin-bottom: 20px;">
    <b-spinner class="align-middle" label="Loading..."></b-spinner>
    <strong>Loading...</strong>
  </b-col>
</b-row>
<div v-if="activity">
  <b-card no-body>
    <b-card-header>
      <b-nav tabs class="card-header-tabs">
        <b-nav-item to="/" :active="$route.path === '/'">
          Basic
        </b-nav-item>
        <b-nav-item to="sectors" :active="$route.path === '/sectors'">
          Sectors
        </b-nav-item>
        <b-nav-item to="locations" :active="$route.path === '/locations'" v-if="mode=='edit'">
          Locations
        </b-nav-item>
        <b-nav-item to="finances" :active="$route.path === '/finances'" v-if="mode=='edit'">
          Finances
        </b-nav-item>
        <b-nav-item to="conditions" :active="$route.path === '/conditions'" v-if="mode=='edit'">
          Conditions
        </b-nav-item>
        <b-nav-item to="milestones" :active="$route.path === '/milestones'" v-if="activity.milestones">
          Milestones
        </b-nav-item>
        <b-nav-item to="results" :active="$route.path === '/results'" v-if="activity.results">
          Results
        </b-nav-item>
        <b-nav-item to="documents" :active="$route.path === '/documents'" v-if="activity.documents">
          Documents
        </b-nav-item>
      </b-nav>
    </b-card-header>
    <div>
      <transition name="fade">
        <b-card-body v-show="$route.path === '/'">
          <b-card-text class="activity-form-save form-horizontal">
            <activity-basic-section
              :codelists="codelists"
              :activity="activity"></activity-basic-section>
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <b-card-body v-show="$route.path === '/sectors'">
          <b-card-text class="activity-form-save form-horizontal" id="sectors">
            <sectors-section
              :codelists="codelists"
              :activity="activity"></sectors-section>
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <!-- Location data -->
        <b-card-body v-show="$route.path === '/locations'" @click="showLocations+=1" v-if="mode=='edit'">
          <b-card-text id="location">
            <h2>Location data</h2>
              <locations-section
              :show-locations="showLocations"></locations-section>
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <!-- Financial data -->
        <b-card-body v-show="$route.path === '/finances'" v-if="mode=='edit'">
          <b-card-text id="finances">
            <finances-section
              :codelists="codelists"
              :activity="activity"></finances-section>
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <!-- Milestones data -->
        <b-card-body v-show="$route.path === '/milestones'" v-if="activity.milestones">
          <b-card-text id="milestones">
            <h2>Milestones</h2>
            <div class="row">
              <div class="col-md-12">
                <milestones-section></milestones-section>
              </div>
            </div>
          </b-card-text>
        </b-card-body>
      </transition>
      {% if activity %}
      <transition name="fade">
        <!-- Conditions data -->
        <b-card-body v-show="$route.path === '/conditions'" v-if="mode=='edit'">
            <b-card-text id="conditions">
            <!--
            <h2>Conditions</h2>
            <div class="alert alert-info">Enter each condition attached to this project &ndash;
            for example, effectiveness conditions that are required before the project can begin.</div>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-hover table-conditions">
                  <thead>
                    <th>Condition</th>
                    <th>Responsibility</th>
                    <th>Due date</th>
                    <th>Achieved</th>
                    <th>Notes</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" name="condition_name"
                          placeholder="e.g. Ratification" />
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" name="condition_responsibility"
                          placeholder="e.g. AMCU" />
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" name="condition_due_date" />
                        </div>
                      </td>
                      <td>
                        <div class="checkbox">
                          <label for="milestone-achieved-" class="control-label">
                          <input type="checkbox" name="milestone-achieved-"
                          id="milestone-achieved-" data-milestone-id=""
                          data-milestone-attribute="achieved"/> Achieved</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                            <textarea class="form-control col-m3-10" name="milestone-notes-"
                            data-milestone-id="" data-milestone-attribute="notes"
                            rows="1"></textarea>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <hr />
            -->
            <h3>Counterpart funding</h3>
            <div class="alert alert-info">Enter how much counterpart funding is required for each year.
            Enter a new row for each fiscal year that counterpart funding is required for.</div>
            <div class="row">
              <div class="col-md-12">
                <counterpart-funding-section></counterpart-funding-section>
              </div>
            </div>
            <!--
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-info">Select the counterpart (government/PSIP) project that should provide
                the counterpart funding. If you cannot find the PSIP project, please speak
                to the PIU to request that they add the counterpart project to the system.</div>
                <div class="form-group select-fg">
                  <label for="related_project" class="col-sm-4
                  control-label">{{ _('Counterpart (government/PSIP) project') }}</label>
                  <div class="col-sm-8">
                    <select name="related_project" id="related_project" class="form-control">
                      {% for ds in codelists.ActivityStatus %}
                      <option value="{{ ds.code }}"{% if ds.code == activity.activity_status %} selected{% endif %}>{{ ds.code }} &ndash; {{ ds.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          -->
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <b-card-body v-show="$route.path === '/documents'" v-if="activity.documents">
          <b-card-text id="documents">
            <h2>Documents</h2>
            <div class="alert alert-info">
              These documents were automatically captured from <a :href="`http://d-portal.org/q.html?aid=${activity.code}`">this donor's IATI data</a>.
            </div>
            <table class="table">
              <thead>
                <th width="50%">Title</th>
                <th>Type</th>
                <th>Date</th>
              </thead>
              <tbody>
                {% for document in activity.documents %}
                <tr>
                  <td><a href="{{ document.url }}">{{ document.title }}</a></td>
                  <td>
                    {% for category_code in document.categories %}
                    <span class="label label-default">{{ codelist_lookups["DocumentCategory"][category_code.code] }}</span>
                    {% endfor %}
                  </td>
                  <td>{{ document.document_date or '' }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </b-card-text>
        </b-card-body>
      </transition>
      <transition name="fade">
        <b-card-body v-show="$route.path === '/results'" v-if="activity.results">
          <b-card-text id="results">
            <h2>{{ _('Results') }}</h2>
            <div class="alert alert-info">
              These results were automatically captured from <a :href="`http://d-portal.org/q.html?aid=${activity.code}`">this donor's IATI data</a>.
            </div>
            <table class="table">
              <thead>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th>Target</th>
                <th>Actual</th>
                <th width="30%">%</th>
              </thead>
              <tbody>
                {% for period in activity.result_indicator_periods %}
                <tr>
                  <td>{{ period.result_indicator.indicator_title }}</a></td>
                  <td>{{ period.period_start }}</a></td>
                  <td>{{ period.period_end }}</a></td>
                  <td>{{ period.target_value }}</a></td>
                  <td>{{ period.actual_value }}</a></td>
                  <td>
                    {% if period.percent_complete != None %}
                    <div class="progress">
                      <div class="progress-bar progress-bar-{{ period.percent_complete_category }}" role="progressbar" aria-valuenow="{{ period.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{ period.percent_complete }}%;">
                        {{ period.percent_complete }}%
                      </div>
                    </div>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </b-card-text>
        </b-card-body>
      </transition>
      {% endif %}
    </div>
  </b-card>
</div>

{% raw %}

<script id="iati-search-results-template" type="x-tmpl-mustache">
  <p>The following results were found in <i>{{ reporting_org }}</i>'s IATI data for <i>{{ title }}</i>.</p>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="search_modal_title" class="col-sm-2 control-label">Repeat search</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" name="search_modal_title"
            id="search_modal_title" placeholder="e.g. Mount Coffee"
            value="{{ title }}">
            <div class="input-group-addon">
              <a href="#" id="search_modal_button" title="Search">
                <span class="fa fa-search"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <th title="IATI Identifier">Project code</th>
      <th>Title</th>
      <th>Description</th>
      <th>Save project code</th>
    </thead>
    <tbody>
      {{# results }}
      <tr>
        <td class="iati_identifier"><a href="http://d-portal.org/q.html?aid={{ iati_identifier }}" target="_blank">{{ iati_identifier }}</a</td>
        <td class="title">{{# title }}{{# narratives }}<p>{{ text }}</p>{{/ narratives }}{{/ title }}</td>
        <td class="description">{{# descriptions }}{{# narratives }}<p>{{ text }}</p>{{/ narratives }}{{/ descriptions }}</td>
        <td class="import">
          <a class="btn btn-xs btn-success">
            <span class="fa fa-check"></span>
          </a>
        </td>
      </tr>
      {{/ results }}
      {{^ results }}
      <tr>
        <td colspan="4">No results found. Try adjusting your search terms above.</td>
      </tr>
      {{/ results }}
    </tbody>
  </table>
</script>
{% endraw %}

<div class="modal fade" id="iati-search-results-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ _('IATI Search Results') }}</h4>
      </div>
      <div class="modal-body">
        <div id="iati-search-results-area">
          <p class="text-muted">Loading...</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('OK') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
var api_routes = {
  activity: "{{ api_activity_url }}",
  activity_update: "{{ api_activity_update_url }}",
  codelists: "{{ api_codelists_url }}",
  milestones: "{{ api_activity_milestones_url }}",
  country_locations: "{{ api_locations_url }}",
  locations: "{{ api_activity_locations_url }}",
  finances: "{{ api_activity_finances_url }}",
  finances_update: "{{ api_update_activity_finances_url }}",
  forwardspends: "{{ api_activity_forwardspends_url }}",
  counterpart_funding: "{{ api_activity_counterpart_funding_url }}",
  iati_search: "{{ api_iati_search_url }}",
  iati_fetch_data: "{{ api_iati_fetch_data_url }}"
}
var activityEditorMode = "{{ activity_editor_mode }}"
</script>

<link rel="stylesheet" href="{{url_for('static', filename='packages/leaflet/dist/leaflet.css')}}">
<script src="{{url_for('static', filename='packages/leaflet/dist/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='packages/vue2-leaflet/dist/vue2-leaflet.min.js')}}"></script>
<script src="{{url_for('static', filename='packages/vue-router/dist/vue-router.min.js')}}"></script>

<script src="{{url_for('static', filename='vendor/moment-2.11.0/moment.min.js')}}" type="text/javascript"></script><!-- This submits the new activity form -->
<button type="submit" class="btn btn-success" id="add-activity-btn" v-if="mode=='new'" @click="saveNewActivity">
  {{ _('Add activity; add detailed data &raquo;') }}
</button>
{% endblock %}

{% block vuejs %}
<script src="{{url_for('static', filename='js/activity_edit.js')}}" type="text/javascript"></script>
{% endblock %}