{% set active_page='activities' %}{% extends "layout2.html" %}
{% block title %}{{ _('Activities') }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h1>{{ _('Activities') }}: <span id="activities_loading" v-if="isBusy">loading...</span><span id="activities_count" v-else>[[ projects.length ]] found</span></h1>
  </div>
  <div class="col-md-2 text-center">
    {% if loggedinuser.permissions_dict.domestic_external_edit != "none" %}
    <br />
    <a class="btn btn-success btn-large float-md-right" href="{{url_for('activities.activity_new')}}">
      <i class="fas fa-plus"></i>
      {{ _('New activity') }}
    </a>
    {% endif %}
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-9">
    <div role="tablist">
      <b-card no-body bg-variant="light">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block href="#"
          :class="{'btn-danger': displayResetFilters}"
          v-b-toggle.accordion-filters>Show filters <i class="fas fa-filter"></i></b-button>
        </b-card-header>
        <b-collapse id="accordion-filters" accordion="filters-accordion" role="tabpanel">
          <b-card-body>
            <form class="form-activity-filters">
              <b-button id="filtersAppliedLabel"
                v-if="displayResetFilters" variant="danger" class="float-right"
                size="sm"
                @click="resetFilters">Reset filters</b-button>
              <p class="lead">Find projects matching all of the following conditions. Results automatically update below.</p>
              <b-form-group
                label-cols-sm="3"
                :label="filter.label"
                label-align-sm="right"
                :label-for="filter.name" v-for="filter in filters">
                <b-select class="form-control filter-select" name="filter.name"
                  id="filter.name" :options="filter.codes" value-field="id" text-field="name"
                  v-model="selectedFilters[filter.name]">
                  <template slot="first">
                    <option value="all" selected>{{ _('Select all') }}</option>
                  </template>
                </b-select>
              </b-form-group>

              <b-form-group
                label-cols-sm="3"
                label="Date Range"
                label-align-sm="right"
                label-for="date-range">
                <b-row style="margin-top: 10px;">
                  <b-col cols="2">
                    <span class="min-date">[[ selectedFilters.earliest_date.slice(0,4) ]]</span>
                  </b-col>
                  <b-col cols="8" class="text-center">
                    <div id="slider" ref="slider" class="date-slider"></div>
                  </b-col>
                  <b-col cols="2" class="text-right">
                    <span class="max-date">[[ selectedFilters.latest_date.slice(0,4) ]]</span>
                  </b-col>
                </b-row>
                <p class="help-block">Matches projects containing any activity between these dates.</p>
              </b-form-group>
            </form>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <a class="btn btn-primary float-md-right" id="download_excel" :href="'{{ url_for('exports.all_activities_xlsx_filtered')}}' + filtersHash" style="margin-top:4px;">
      <span class="fas fa-download"></span> Export selection to Excel
    </a>
  </div>
</div>
<div class="row" style="margin-top:10px;">
  <div class="col-md-9">
    <b-form-input type="search" placeholder="Type to search by project title..." v-model="filterTitle"></b-form-input>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="projects-data">
      <b-table id="projectsList" :busy="isBusy"
        :fields="fields" :items="projects" show-empty
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filterTitle"
        :filterIncludedFields="filterIncludedFields"
        sort-by="updated_date"
        sort-desc="true"
        @filtered="onFiltered"
        responsive>

        <div slot="table-busy" class="text-center my-2">
          <b-spinner class="align-middle" label="Loading..."></b-spinner>
          <strong>Loading...</strong>
        </div>

        <template slot="[title]" slot-scope="data">
          <a :href="activity_base_url + data.item.id + '/'">
            [[ data.item.title ]]
          </a>
        </template>

        <template slot="[edit]" slot-scope="data">
          <a :href="activity_base_url + data.item.id + '/edit/'" v-if="data.item.permissions.edit">
            <span class="fas fa-edit"></span></a>
        </template>

        <template slot="[delete]" slot-scope="data">
          <a href="#" class="text-danger"
            @click.prevent="confirmDelete(activity_base_url + data.item.id + '/delete/')"
            v-if="data.item.permissions.edit">
            <span class="fa fa-trash-alt"></span>
          </a>
        </template>
      </b-table>
      <b-row>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="projectsList"
          ></b-pagination>
        </b-col>
        <b-col>
          <b-form-group
            id="fieldset-1"
            label="Projects per page"
            label-cols-md="4"
            label-align-md="right"
            label-for="per-page">
            <b-select v-model="perPage" :options="[20,50,100,500,1000]" id="per-page"></b-select>
          </b-form-group>
        </b-col>
      </b-row>
    </div>
  </div>
</div>

<script type="text/javascript">
var activity_dates = {{ activity_dates|tojson }};
var activity_base_url = "{{ url_for('activities.activities', _external=True) }}"
var activity_api_url = "{{ url_for('api.api_activities_country', _external=True) }}"
var activities_filters_url = "{{ url_for('api.api_activities_filters', _external=True) }}"
</script>
<link rel="stylesheet" href="{{url_for('static', filename='packages/nouislider/distribute/nouislider.min.css')}}">
<script src="{{url_for('static', filename='packages/nouislider/distribute/nouislider.min.js')}}"></script>

{% endblock %}

{% block vuejs %}
<script src="{{url_for('static', filename='js/activities.js')}}" type="text/javascript"></script>
{% endblock %}