{% set active_page='activities' %}{% extends "layout.html" %}
{% block title %}{{ _('Activities') }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h1>{{ _('Activities') }}: <span id="activities_count">loading...</span>
  </div>
  <div class="col-md-2">
    {% if loggedinuser.permissions_dict.domestic_external_edit != "none" %}
    <br />
    <a class="btn btn-success btn-large pull-right" href="{{url_for('activities.activity_new')}}">
      <i class="glyphicon glyphicon-plus"></i>
      {{ _('New activity') }}
    </a>
    {% endif %}</h1>
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-9">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Show filters</a>
              <span id="filtersAppliedLabel"></span>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <form class="form-horizontal form-activity-filters">
              <p class="lead">Find projects matching all of the following conditions. Results automatically update below.</p>
              {% for codelist_name, codelist_id, codelist_values in codelists %}
              <div class="form-group">
                <label for="{{codelist_id}}" class="col-sm-3 control-label">{{ codelist_name }}</label>
                <div class="col-sm-9">
                  <select class="form-control filter-select" name="{{codelist_id}}"
                    id="{{codelist_id}}">
                    <option value="all" selected>{{ _('Select all') }}</option>
                    {% for codelist_item in codelist_values %}
                    <option value="{{ codelist_item.id }}">{{ codelist_item.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endfor %}
              <div class="form-group date-select">
                <label for="date-range" class="col-sm-3 control-label">Date Range</label>
                <div class="col-sm-9">
                  <span class="min-date"></span>
                  <input id="date-selector" type="text" class="span2 date-selector" value=""/>
                  <span class="max-date"></span>
                  <p class="help-block">Matches projects containing any activity between these dates.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary pull-right" id="download_excel" href="{{ url_for('api.all_activities_xlsx_filtered')}}?mtef-sector=55"><span class="glyphicon glyphicon-save"></span> Export selection to Excel</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="projects-data">
      <p class="lead">Loading data, please wait... <span class="glyphicon glyphicon-refresh loader" aria-hidden="true"></span></p>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ _('Confirm delete') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ _('Are you sure you want to delete this activity? This action cannot be undone!') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <a class="btn btn-primary btn-ok">{{ _('Confirm') }}</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% raw %}
<script id="projects-template" type="x-tmpl-mustache">
  <table class="table" id="projectsList">
    <thead>
      <th>{% endraw %}{{ _('Title') }}{% raw %}</th>
      <th>{% endraw %}{{ _('Organisation') }}{% raw %}</th>
      <th class="number">{% endraw %}{{ _('Commitments') }}{% raw %}</th>
      <th class="number">{% endraw %}{{ _('Disbursements') }}{% raw %}</th>
      <th>{% endraw %}{{ _('User') }}{% raw %}</th>
      <th>{% endraw %}{{ _('Last updated') }}{% raw %}</th>
      <th>{% endraw %}{{ _('Edit') }}{% raw %}</th>
      <th>{% endraw %}{{ _('Delete') }}{% raw %}</th>
    </thead>
    <tbody>
      {{# activities }}
      <tr>
        <td><a href="{% endraw %}{{ activity_base_url }}{% raw %}{{ id }}/">{{ title }}</a></td>
        <td>{{ reporting_org }}</td>
        <td class="number">{{ total_commitments }}</td>
        <td class="number">{{ total_disbursements }}</td>
        <td>{{ user }}</td>
        <td>{{ updated_date }}</td>
        <td>{{#permissions.edit}}<a href="{% endraw %}{{ activity_base_url }}{% raw %}{{ id }}/edit/"
              class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>{{/permissions.edit}}</td>
        <td>{{#permissions.edit}}<a data-href="{% endraw %}{{ activity_base_url }}{% raw %}{{ id }}/delete/"
              class="btn btn-default btn-xs btn-delete"
              data-toggle="modal" data-target="#confirm-delete">
              <span class="glyphicon glyphicon-trash"></span>
            </a>{{/permissions.edit}}</td>
      </tr>
      {{/ activities }}
      {{^ activities }}
      <tr class="active">
        <td colspan="6">{% endraw %}
          {{ _("No projects found.") }}
        {% raw %}</td>
      </tr>
      {{/ activities }}
    </tbody>
  </table>
</script>
{% endraw %}

<script type="text/javascript">
var activity_dates = {{ dates|tojson }};
</script>
<script src="{{url_for('static', filename='vendor/mustache/2.2.1/mustache.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='vendor/bootstrap-slider/dist/bootstrap-slider.min.js')}}"></script>
<script src="{{url_for('static', filename='js/activities.js')}}" type="text/javascript"></script>
<link type="text/css" href="{{url_for('static', filename='vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css')}}" rel="stylesheet" />

<script type="text/javascript">
$("#confirm-delete").on('show.bs.modal', function(e) {
  $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
</script>

{% endblock %}
