{% set active_page='activity' %}{% extends "layout.html" %}
{% block title %}{{ activity.title }}{% endblock %}
{% block content %}
<style>
  .table span.form-control-feedback {
    top: 0;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <h1>{{ activity.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <p class="lead">{{ activity.description }}</p>
  </div>
  {% if activity.permissions.edit == True %}
  <div class="col-md-2">
    <a class="btn btn-success btn-large pull-right" href="{{ url_for('activities.activity_edit', activity_id=activity.id) }}">
      <i class="glyphicon glyphicon-pencil"></i>
      {{ _('Edit project') }}
    </a>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Basic data</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><b>Project code</b></td>
          <td>{{ activity.code }}</td>
        </tr>
        <tr>
          <td><b>Project status</b></td>
          <td>
            <span class="label label-default">{{ codelist_lookups["ActivityStatus"][activity.activity_status] }}</span>
          </td>
        </tr>
        <tr>
          <td><b>Funded by</b></td>
          <td>{{ activity.reporting_org.name }}</td>
        </tr>
        <tr>
          <td><b>Implemented by</b></td>
          <td>{% for organisation in activity.implementing_organisations %}
            {{ organisation.name }}<br />
            {% endfor %}</td>
        </tr>
        <tr>
          <td><b>Start date</b></td>
          <td>{{ activity.start_date }}</td>
        </tr>
        <tr>
          <td><b>End date</b></td>
          <td>{{ activity.end_date }}</td>
        </tr>
        <tr>
          <td><b>Last updated</b></td>
          <td>{{ activity.updated_date }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Sectors</h3>
    <table class="table table-hover">
      <tbody>
      {% for classification in activity.classification_data.values() %}
        <tr>
          <td><b>{{ classification.name }}</b></td>
          <td>
            {% for entry in classification["entries"] %}
            <span class="label label-default {{ classification.code }}-{{entry.codelist_code.code}}">{{ entry.codelist_code.name }}</span>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if activity.milestones_data %}
    <h3>Milestones</h3>
    <table class="table table-hover">
      <tbody>
      {% for milestone in activity.milestones_data %}
        <tr>
          <td><b>{{milestone.name }}</b></td>
          <td><span class="glyphicon {{milestone.achieved.icon}}"></span> {{ milestone.achieved.name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="col-md-6" style="height: 430px;">
    <h3>Locations</h3>
    <div id="locationMap"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>{% if activity.domestic_external == "external" %}Commitments{% else %}Appropriations{% endif %}</h3>
    <table class="table financial-table" id="commitments-table">
      <thead>
        <th>Period</th>
        <th class="number">Value</th>
      </thead>
      <tbody>
        {% for k, commitment in activity.FY_commitments_dict.items() %}
        <tr>
          <td>FY{{commitment.fiscal_year}} {{commitment.fiscal_quarter}}</td>
          <td class="number">{{ "{:,.2f}".format(commitment.value) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Disbursements</h3>
    <table class="table financial-table" id="disbursements-table">
      <thead>
        <th>Period</th>
        <th class="number">Value</th>
      </thead>
      <tbody>
        {% for k, disbursement in activity.FY_disbursements_dict.items() %}
        <tr>
          <td>FY{{disbursement.fiscal_year}} {{disbursement.fiscal_quarter}}</td>
          <td class="number">{{ "{:,.2f}".format(disbursement.value) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  {% if activity.FY_forward_spend_dict %}
  <div class="col-md-6">
    <h3>{% if activity.domestic_external == "external" %}MTEF Projections{% else %}Spending Plan{% endif %}</h3>
    <table class="table financial-table" id="mtef-projections-table">
      <thead>
        <th>Period</th>
        <th class="number">Value</th>
      </thead>
      <tbody>
        {% for k, fs in activity.FY_forward_spend_dict.items() %}
        <tr>
          <td>FY{{fs.fiscal_year}} {{fs.fiscal_quarter}}</td>
          <td class="number">{{ "{:,.2f}".format(fs.value) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  {% if activity.FY_allotments_dict %}
  <div class="col-md-6">
    <h3>Allotments</h3>
    <table class="table financial-table" id="allotments-table">
      <thead>
        <th>Period</th>
        <th class="number">Value</th>
      </thead>
      <tbody>
        {% for k, allotment in activity.FY_allotments_dict.items() %}
        <tr>
          <td>FY{{allotment.fiscal_year}} {{allotment.fiscal_quarter}}</td>
          <td class="number">{{ "{:,.2f}".format(allotment.value) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% if activity.results %}
<div class="row">
  <div class="col-md-12">
    <h2 id="results">{{ _('Results') }}</h2>
    <div class="alert alert-info">
      These results were automatically captured from <a href="http://d-portal.org/q.html?aid={{ activity.code }}">this donor's IATI data</a>.
    </div>
    <table class="table">
      <thead>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Target</th>
        <th>Actual</th>
        <th width="30%">%</th>
      </thead>
      <tbody>
        {% for period in activity.result_indicator_periods %}
        <tr>
          <td>{{ period.result_indicator.indicator_title }}</a></td>
          <td>{{ period.period_start }}</a></td>
          <td>{{ period.period_end }}</a></td>
          <td>{{ period.target_value }}</a></td>
          <td>{{ period.actual_value }}</a></td>
          <td>
            {% if period.percent_complete != None %}
            <div class="progress">
              <div class="progress-bar progress-bar-{{ period.percent_complete_category }}" role="progressbar" aria-valuenow="{{ period.percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width:{{ period.percent_complete }}%;">
                {{ period.percent_complete }}%
              </div>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% if activity.documents %}
<div class="row">
  <div class="col-md-12">
    <h2 id="documents">{{ _('Documents') }}</h2>
    <div class="alert alert-info">
      These documents were automatically captured from <a href="http://d-portal.org/q.html?aid={{ activity.code }}">this donor's IATI data</a>.
    </div>
    <table class="table">
      <thead>
        <th width="50%">Title</th>
        <th>Type</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for document in activity.documents %}
        <tr>
          <td><a href="{{ document.url }}">{{ document.title }}</a></td>
          <td>
            {% for category_code in document.categories %}
            <span class="label label-default">{{ codelist_lookups["DocumentCategory"][category_code.code] }}</span>
            {% endfor %}
          </td>
          <td>{{ document.document_date or '' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<script src="{{url_for('static', filename='vendor/moment-2.11.0/moment.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/activity.js')}}" type="text/javascript"></script>


<script type="text/javascript">
var api_locations_url = "{{ api_locations_url }}";
var api_activity_locations_url = "{{ api_activity_locations_url }}";
</script>
<script type="text/javascript">
  $(".financial-table").tablesorter( {
      sortList: [[0,1]],
      theme : "bootstrap",
      widthFixed: true,
      headerTemplate : '{content} {icon}',
      widgets : [ "uitheme"]
  } );
</script>

<link type="text/css" href="{{url_for('static', filename='vendor/leaflet/0.7.7/leaflet.css')}}" rel="stylesheet" />
<script type="text/javascript" src="{{url_for('static', filename='vendor/leaflet/0.7.7/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/map.js')}}" type="text/javascript"></script>

{% endblock %}
