{% set active_page='activity' %}{% extends "layout2.html" %}
{% block title %}{{ activity.title }}{% endblock %}
{% block content %}
<style>
  .table span.form-control-feedback {
    top: 0;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <h1>{{ activity.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <p class="lead">{{ activity.description }}</p>
  </div>
  {% if activity.permissions.edit == True %}
  <div class="col-md-2">
    <a class="btn btn-success btn-large pull-right edit-project-button"
       href="{{ url_for('activities.activity_edit', activity_id=activity.id) }}">
      <i class="fas fa-edit"></i>
      {{ _('Edit project') }}
    </a>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Basic data</h3>
    <table class="table table-hover table-sm" responsive>
      <tbody>
        <tr>
          <td><b>Project code</b></td>
          <td>{{ activity.code }}</td>
        </tr>
        <tr>
          <td><b>Project status</b></td>
          <td>
            <span class="badge badge-secondary">{{ codelist_lookups["ActivityStatus"][activity.activity_status] }}</span>
          </td>
        </tr>
        <tr>
          <td><b>Funded by</b></td>
          <td>{{ activity.reporting_org.name }}</td>
        </tr>
        <tr>
          <td><b>Implemented by</b></td>
          <td>{% for organisation in activity.implementing_organisations %}
            {{ organisation.name }}<br />
            {% endfor %}</td>
        </tr>
        <tr>
          <td><b>Start date</b></td>
          <td>{{ activity.start_date }}</td>
        </tr>
        <tr>
          <td><b>End date</b></td>
          <td>{{ activity.end_date }}</td>
        </tr>
        <tr>
          <td><b>Last updated</b></td>
          <td>{{ activity.updated_date }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Sectors</h3>
    <table class="table table-hover table-sm" responsive>
      <tbody>
      {% for classification in activity.classification_data.values() %}
        <tr>
          <td><b>{{ classification.name }}</b></td>
          <td>
            {% for entry in classification["entries"] %}
            <span class="badge badge-secondary {{ classification.code }}-{{entry.codelist_code.code}}">{{ entry.codelist_code.name }}</span>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      {% if activity.domestic_external == 'external' %}
        <tr>
          <td><b>Finance Type</b></td>
          <td>
            {% for ft, pct in activity.disb_finance_types.items() %}
              {{ ft }}: {{ pct }}% <br />
            {% endfor %}
          </td>
        </tr>
        {% if activity.disb_fund_sources|length > 1 %}
        <tr>
          <td><b>Fund Sources</b></td>
          <td>
            {% for fs, data in activity.disb_fund_sources.items() %}
              {{ fs }} ({{ data.finance_type }}): {{ data.value }}% <br />
            {% endfor %}
          </td>
        </tr>
        {% endif %}
      {% endif %}
      </tbody>
    </table>
    {% if activity.milestones_data %}
    <h3>Project Development and Appraisal</h3>
    <table class="table table-hover table-sm" responsive>
      <tbody>
      {% for milestone in activity.milestones_data %}
        <tr>
          <td><b>{{milestone.name }}</b></td>
          <td><span class="badge badge-{{milestone.achieved.colour}}">
            <i class="fa {{milestone.achieved.icon}}"></i> {{ milestone.achieved.name }}
          </span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="col-md-6" class="activity-profile-location-map-container">
    <h3 id="locations">Locations</h3>
    <div id="locationMap"></div>
  </div>
</div>
<b-row>
  <b-col>
    <canvas id="chartArea" width="100%" height="30px"></canvas>
  </b-col>
</b-row>
<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
<b-row id="financialdata">
  <b-col lg="9">
    <h2>Financial data</h3>
  </b-col>
  {% if (activity.domestic_external == 'external') and (activity.disb_fund_sources|length > 1) %}
  <b-col lg="3">
    <b-form-group class="text-right"
    label="Display:">
      <b-form-radio-group
        id="btn-radios-1"
        v-model="showFundSource"
        :options="showFundSourceOptions"
        buttons
        button-variant="outline-dark"
      ></b-form-radio-group>
    </b-form-group>
  </b-col>
  {% endif %}
</b-row>
<template v-if="showFundSource">
  <template v-for="finance in financesFundSources">
    <b-row>
      <template v-for="fundSourceData, fundSource in fundSources">
          <b-col v-if="fundSource in finance.data">
            <h3>
              <template v-if="fundSource != 'null'">[[ fundSource ]]</template>
              <b-badge>[[ fundSourceData.finance_type ]]</b-badge>
              <br />[[ finance.title ]]</h3>
            <b-table class="table financial-table table-sm"
            :fields="fiscal_fields" :items="Object.values(finance.data[fundSource])"
            sort-by="period"
            sort-desc="true"
            :busy="isBusy"
            responsive>
              <div v-slot:table-busy class="text-center text-muted my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
              </div>
            </b-table>
          </b-col>
      </template>
    </b-row>
  </template>
</template>
<template v-else>
  <b-row>
    <template v-for="(finance, fkey) in finances">
      <b-col>
        <h3>[[ finance.title ]]</h3>
        <b-table class="table financial-table table-sm"
        :id="`${fkey}-table`"
        :fields="fiscal_fields" :items="finance.data"
        sort-by="period"
        sort-desc="true"
        :busy="isBusy"
        responsive>
        <div slot:table-busy class="text-center text-muted my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </b-table>
      </b-col>
    </template>
  </b-row>
</template>
<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
{% if activity.results %}
<div class="row" id="results">
  <div class="col-md-12">
    <h2>{{ _('Results') }}</h2>
    {% if activity.domestic_external == 'external' %}
    <div class="alert alert-info">
      These results were automatically captured from <a href="http://d-portal.org/q.html?aid={{ activity.code }}">this donor's IATI data</a>.
    </div>
    {% endif %}
    <table class="table">
      <thead>
        <th>Title</th>
        <th>From</th>
        <th>To</th>
        <th>Target</th>
        <th>Actual</th>
        <th width="30%">%</th>
      </thead>
      <tbody>
        {% for period in activity.result_indicator_periods %}
        <tr>
          <td>{{ period.result_indicator.indicator_title }}</a>
          {% if period.result_indicator.measurement_unit_type %}
          ({{ period.result_indicator.measurement_unit_type}})
          {% endif %}</td>
          <td>{{ period.period_start }}</a></td>
          <td>{{ period.period_end }}</a></td>
          <td>{{ period.target_value }}</a></td>
          <td>{{ period.actual_value }}</a></td>
          <td>
            {% if period.percent_complete != None %}
            <b-progress
              :value="{{ period.percent_complete }}" max="100"
              variant="{{ period.percent_complete_category }}"
              show-progress>
            </b-progress>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
  </div>
</div>
{% endif %}
{% if activity.documents %}
<div class="row" id="documents">
  <div class="col-md-12">
    <h2>{{ _('Documents') }}</h2>
    <div class="alert alert-info">
      These documents were automatically captured from <a href="http://d-portal.org/q.html?aid={{ activity.code }}">this donor's IATI data</a>.
    </div>
    <table class="table table-responsive">
      <thead>
        <th width="50%">Title</th>
        <th>Type</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for document in activity.documents %}
        <tr>
          <td><a href="{{ document.url }}">{{ document.title }}</a></td>
          <td>
            {% for category_code in document.categories %}
            <span class="badge badge-secondary">{{ codelist_lookups["DocumentCategory"][category_code.code] }}</span>
            {% endfor %}
          </td>
          <td>{{ document.document_date or '' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}


<script type="text/javascript">
var api_locations_url = "{{ api_locations_url }}";
var api_activity_locations_url = "{{ api_activity_locations_url }}";
var api_finances_url = "{{ url_for('api.api_activities_finances_by_id', activity_id=activity.id, _external=True) }}";
var api_finances_fund_sources_url = "{{ url_for('api.api_activities_finances_fund_sources_by_id', activity_id=activity.id, _external=True) }}";
</script>

<link rel="stylesheet" href="{{url_for('static', filename='packages/leaflet/dist/leaflet.css')}}"/>
<script src="{{url_for('static', filename='packages/leaflet/dist/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/map.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='packages/vue-scrollto/vue-scrollto.js')}}"></script>
<script src="{{url_for('static', filename='packages/chart.js/dist/Chart.min.js')}}"></script>
{% endblock %}
{% block vuejs %}
<script src="{{url_for('static', filename='js/activity.js')}}" type="text/javascript"></script>
{% endblock %}