{% set active_page='codelists' %}{% extends "layout.html" %}
{% block title %}{{ _('Codelists') }}{% endblock %}
{% block content %}
<h1>{{ _('Manage codelists') }}</h1>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    {% for codelist in codelist_names %}
    <li role="presentation"{% if loop.index == 1 %} class="active"{% endif %}>
      <a href="#{{ codelist.code }}" aria-controls="{{ codelist.code }}" 
      role="tab" data-toggle="tab" id="{{ codelist.code }}Tab">{{ codelist.name }}</a>
    </li>
    {% endfor %}
    <li role="presentation">
      <a href="#locations" aria-controls="locations" 
      role="tab" data-toggle="tab" id="locationsTab">{{ _('Locations') }}</a>
    </li>
  </ul>
  <div class="tab-content">
    {% for codelist in codelist_names %}
    <div role="tabpanel" class="tab-pane{% if loop.index == 1 %} active{% endif%}" id="{{ codelist.code }}">
      <h3>{{ codelist.name }}</h3>
      <table class="table codelists-data" 
        data-codelist="{{ codelist.code }}"
        id="table-{{ codelist.code }}">
        <thead>
          <th>{{ _('Code') }}</th>
          <th>{{ _('Name') }}</th>
        </thead>
        <tbody>
          {% for code in codelist_codes[codelist.code] %}
          <tr data-code="{{ code.code }}">
            <td>
              <div class="form-group">
                <label class="control-label sr-only">{{ _('Code') }}</label>
                <input type="text" class="form-control code" 
                name="code" value="{{ code.code }}">
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="control-label sr-only">{{ _('Name') }}</label>
                <input type="text" class="form-control"
                name="name" value="{{ code.name }}">
              </div></td>
            <td>
              <a class="btn btn-sm btn-default deleteCode"
              data-toggle="modal" data-target="#confirm-delete">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-success addCode"
      data-codelist="{{ codelist.code }}">
        <i class="glyphicon glyphicon-plus"></i> 
        {{ _('Add code') }}
      </a>
    </div>
    {% endfor %}
    <div role="tabpanel" class="tab-pane" id="locations">
      <h3>{{ _('Locations') }}</h3>
      <p class="lead">{{ _('Locations are available for the following countries:') }}</p>
      <table class="table" 
        data-codelist="locations"
        id="table-locations">
        <thead>
          <th>{{ _('Country') }}</th>
        </thead>
        <tbody>
          {% for country in countries_locations %}
          <tr>
            <td>{{ country.country.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>{{ _('Add locations for a new country') }}</h3>
      <p class="lead">{{ _('Locations are automatically imported from <a href="http://geonames.org">GeoNames.org</a>. Select a country below to download, import and setup locations for a new country.') }}</p>
      <form class="form-horizontal" action="import_locations/" method="POST">
        <div class="form-group">
          <label for="inputLocationsCountry" class="col-sm-2 control-label">{{ _('Country') }}</label>
          <div class="col-sm-10">
            <select class="form-control" name="country">
              <option>{{ _('Select one...') }}</option>
              {% for country in countries %}
              <option value="{{ country.code }}">{{ country.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{ _('Import locations') }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ _('Confirm delete') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ _('Are you sure you want to delete this code?') }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button type="button" class="btn btn-primary btn-ok">{{ _('Confirm') }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    {% raw %}
    <script id="row-codelist-template" type="x-tmpl-mustache">
      <tr data-code="{{ code }}">
        <td>
          <div class="form-group">
            <label class="control-label sr-only">{% endraw %}{{ _('Code') }}{% raw %}</label>
            <input type="text" class="form-control code" 
            name="code" value="{{ code }}">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label class="control-label sr-only">{% endraw %}{{ _('Name') }}{% raw %}</label>
            <input type="text" class="form-control"
            name="name" value="{{ name }}">
          </div></td>
        <td>
          <a class="btn btn-sm btn-default deleteCode"
             data-toggle="modal" data-target="#confirm-delete">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </script>
    {% endraw %}

<script src="{{url_for('static', filename='vendor/mustache/2.2.1/mustache.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/codelists_edit.js')}}" type="text/javascript"></script>
{% endblock %}
