{% set active_page='iati_data_list' %}{% extends "layout.html" %}
{% block title %}{{ _('Export data') }}{% endblock %}
{% block content %}

<h1>{{ _('Export data in Excel format') }}</h1>
{% if loggedinuser.permissions_dict["domestic_external"] in ('external', 'both') %}
<p class="lead">Download all data according to the AMCU Excel export format.</p>
<p><a class="btn btn-sm btn-primary" href="{{url_for('exports.activities_xlsx', domestic_external='external')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
{% endif %}
{% if loggedinuser.permissions_dict["domestic_external"] in ('domestic', 'both') %}
<p class="lead">Download all data according to the PIU Excel export format.</p>
<p><a class="btn btn-sm btn-primary" href="{{url_for('exports.activities_xlsx', domestic_external='domestic')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
{% endif %}
{% if loggedinuser.permissions_dict["domestic_external"] in ('external', 'both') %}
<h2>Advanced download formats</h2>
<p class="lead">Download detailed AMCU financial transactions data for analysis.</p>
<p><a class="btn btn-sm btn-default" href="{{url_for('exports.activities_xlsx_transactions')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
{% endif %}
{% if loggedinuser.permissions_dict["domestic_external"] in ('both') %}
<p class="lead">Download integrated dataset of AMCU and PSIP projects.</p>
<p><a class="btn btn-sm btn-default" href="{{url_for('exports.all_activities_xlsx')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
{% endif %}
<hr />
{% if loggedinuser.permissions_dict["domestic_external_edit"] in ('external', 'both') %}
<h1>{{ _('Excel reporting templates') }}</h1>
<p class="lead">You can import data that donors have entered on
  AMCU reporting templates. This means you do not have to go through
  each project and manually update it: the templates are automatically
  generated and then you can import one file for each donor.</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDisb">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDisb" aria-expanded="true" aria-controls="collapseDisb">
          Quarterly disbursement reporting
        </a>
      </h4>
    </div>
    <div id="collapseDisb" class="panel-collapse collapse{{expanded.disbursements}}" role="tabpanel" aria-labelledby="headingDisb">
      <div class="panel-body">
        <h3><span class="glyphicon glyphicon-download"></span> Download templates</h3>
        <p class="lead">Generate quarterly reporting templates for <i>{{ previous_fy_fq }}</i> for one or all donors. You should
          then send the template to the relevant donor via email, as an Excel attachment.</p>
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Select template to download  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="disbursementtemplates">
                <li>
                  <a href="{{ url_for('exports.export_donor_template')}}">
                    Download templates for all donors
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                {% for org in funding_orgs %}
                <li><a href="{{ url_for('exports.export_donor_template', organisation_id=org.id) }}">
                  Template for {{ org.name }}
                </a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <form class="form-inline">
              <div class="form-group">
                <label for="currency_disbursements" class="control-label">Currency</label>
                <select class="select form-control" name="currency_disbursements">
                {% for currency in currencies %}
                  <option value="{{ currency.code }}">{{ currency.name }}</option>
                {% endfor %}
                </select>
              </div>
            </form>
          </div>
        </div>
        <hr />
        <h3><span class="glyphicon glyphicon-upload"></span> Import data from template</h3>
        <p class="lead">Import Excel files following the donor quarterly reporting
          template format.</p>
        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('exports.import_template')}}">
          <div class="form-group">
            <label for="file" class="col-sm-2 control-label">Template file</label>
            <div class="col-sm-10">
              <input type="file" id="file" name="file">
              <p class="help-block">Select an Excel file to import. The file must
                be formatted according to the donor quarterly reporting template.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="file" class="col-sm-2 control-label">FY/FQ data to import</label>
            <div class="col-sm-10">
              <select class="select form-control" name="fy_fq">
                {% for fy_fq in available_fys_fqs %}
                <option value="{{ fy_fq.value }}"{{ fy_fq.selected }}>{{ fy_fq.text }}</option>
                {% endfor %}
              </select>
              <p class="help-block">Select which fiscal year/quarter you would like to import.
              Note that only data from this column will be imported.</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-open"></span> Import data from template</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingMTEF">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMTEF" aria-expanded="false" aria-controls="collapseMTEF">
          MTEF projections reporting
        </a>
      </h4>
    </div>
    <div id="collapseMTEF" class="panel-collapse collapse{{expanded.mtef}}" role="tabpanel" aria-labelledby="collapseMTEF">
      <div class="panel-body">
        <h3><span class="glyphicon glyphicon-download"></span> Download templates</h3>
        <p class="lead">Generate annual forward projections reporting templates for one or all donors. You should
          then send the template to the relevant donor via email, as an Excel attachment.</p>
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Select template to download  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="mteftemplates">
                <li>
                  <a href="{{ url_for('exports.export_donor_template', mtef=True)}}">
                    Download templates for all donors
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                {% for org in funding_orgs %}
                <li><a href="{{ url_for('exports.export_donor_template', mtef=True, organisation_id=org.id) }}">
                  Template for {{ org.name }}
                </a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <form class="form-inline">
              <div class="form-group">
                <label for="currency_mtef" class="control-label">Currency</label>
                <select class="select form-control" name="currency_mtef">
                {% for currency in currencies %}
                  <option value="{{ currency.code }}">{{ currency.name }}</option>
                {% endfor %}
                </select>
              </div>
            </form>
          </div>
        </div>
        <hr />
        <h3><span class="glyphicon glyphicon-upload"></span> Import data from templates</h3>
        <p class="lead">Import Excel files following the donor MTEF / forward projections reporting
          template format.</p>
        <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('exports.import_template', mtef=True)}}">
          <div class="form-group">
            <label for="file" class="col-sm-2 control-label">Template file</label>
            <div class="col-sm-10">
              <input type="file" id="file" name="file">
              <p class="help-block">Select an Excel file to import. The file must
                be formatted according to the MTEF reporting template.</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-open"></span> Import data from template</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<hr />
{% endif %}
{% if loggedinuser.permissions_dict["domestic_external_edit"] in ('domestic', 'both') %}
<h3><span class="glyphicon glyphicon-upload"></span> Upload data for PSIP projects from IFMIS</h3>
<p class="lead">Upload an Excel file containing data on PSIP projects exported from IFMIS.</p>
<form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('exports.import_psip_transactions')}}">
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">IFMIS file</label>
    <div class="col-sm-10">
      <input type="file" id="file" name="file">
      <p class="help-block">Select an Excel file to import. The file must
        be formatted according to the IFMIS Excel import template.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-open"></span> Import data from IFMIS</button>
    </div>
  </div>
</form>
{% endif %}
<h1>{{ _('Other formats') }}</h1>
<dl class="dl-horizontal">
  <dt>IATI XML file</dt>
  <dd><code><a href="{{url_for('api.generate_iati_xml', version='2.01', country_code='LR')}}">
    {{url_for('api.generate_iati_xml', version='2.01', country_code='LR', _external=True)}}
  </a></code></dd>
  <dt>CSV file</dt>
  <dd><code><a href="{{url_for('exports.activities_csv')}}">
    {{ url_for('exports.activities_csv', _external=True) }}
  </a></code></dd>
</dl>
<p></p>
<script src="{{url_for('static', filename='js/export.js')}}" type="text/javascript"></script>

{% endblock %}
