{% set active_page='export' %}{% extends "layout2.html" %}
{% block title %}{{ _('Export data') }}{% endblock %}
{% block content %}

<b-row>
  <b-col>
    <h1>{{ _('Export data in Excel format') }}</h1>
    {% if loggedinuser.permissions_dict["domestic_external"] in ('external', 'both') %}
    <p class="lead">Download all data according to the AMCU Excel export format.</p>
    <p>
      <b-btn variant="primary" size="sm"
      href="{{url_for('exports.activities_xlsx', domestic_external='external')}}">
        <i class="fa fa-download"></i> {{ _('Download Excel') }}
      </b-btn>
    </p>
    {% endif %}
    {% if loggedinuser.permissions_dict["domestic_external"] in ('domestic', 'both') %}
    <p class="lead">Download all data according to the PIU Excel export format.</p>
    <p>
      <b-btn variant="primary" size="sm"
      href="{{url_for('exports.activities_xlsx', domestic_external='domestic')}}">
        <i class="fa fa-download"></i> {{ _('Download Excel') }}
      </b-btn>
    </p>
    {% endif %}
  </b-col>
  {% if loggedinuser.permissions_dict["domestic_external"] in ('external', 'both') %}
  <b-col>
    <b-alert show variant="light">
      <h3>Advanced download formats</h3>
      <p class="lead">Download detailed AMCU financial transactions data for analysis.</p>
      <p>
        <b-btn size="sm" href="{{url_for('exports.activities_xlsx_transactions')}}">
          <i class="fa fa-download"></i> {{ _('Download Excel') }}
        </b-btn>
      </p>
      {% if loggedinuser.permissions_dict["domestic_external"] in ('both') %}
      <p class="lead">Download integrated dataset of AMCU and PSIP projects.</p>
      <p>
        <b-btn size="sm" href="{{url_for('exports.all_activities_xlsx')}}">
          <i class="fa fa-download"></i> {{ _('Download Excel') }}
        </b-btn>
      </p>
      {% endif %}
    </b-alert>
  </b-col>
  {% endif %}
</b-row>
<hr />
{% if loggedinuser.permissions_dict["domestic_external"] in ('external', 'both') %}
<h1>{{ _('Excel reporting templates') }}</h1>
<p class="lead">You can import data that donors have entered on
  AMCU reporting templates. This means you do not have to go through
  each project and manually update it: the templates are automatically
  generated and then you can import one file for each donor.</p>
<b-row>
  <b-col>
    <b-card>
      <h4 slot="header"><i class="fa fa-download"></i> Download template</h4>
      <p>Download a template. Then, send it to the donor, as an email attachment.</p>
      <b-form-group label="Select template type"
        :description="'Selected template: ' + selectedTemplateOptionDescription"
        label-class="font-weight-bold">
        <b-form-radio-group name="template_type" :options="templateOptions"
          v-model="selectedTemplateOption" stacked></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Select quarter"
        hidden
        label-class="font-weight-bold"
        v-if="selectedTemplateOption=='disbursements'">
        <b-form-select :options="quarters"
        v-model="selectedQuarter">
        </b-form-select>
      </b-form-group>
      <b-form-group label="Select donor"
        description="Generate a reporting template for one or all donors."
        label-class="font-weight-bold">
        <b-form-select :options="reportingOrganisations"
        value-field="id"
        text-field="name"
        v-model="selectedReportingOrganisation">
          <template slot="first">
            <option value="all">All donors</option>
          </template>
        </b-form-select>
      </b-form-group>
      <b-form-group label="Select currency"
        description="Select the currency to generate the template in. For example, the donor's own currency."
        label-class="font-weight-bold">
        <b-form-select :options="currencies"
        value-field="code"
        text-field="display_name"
        v-model="selectedCurrency">
        </b-form-select>
      </b-form-group>
      <b-form-group>
        <b-button variant="outline-secondary" v-b-modal.customise-fields><i class="fa fa-cog"></i> Customise columns</b-button>
      </b-form-group>
      <b-form-group>
        <b-btn :href="templateDownloadURL" variant="primary"><i class="fa fa-download"></i> Download template</b-btn>
      </b-form-group>
    </b-card>
  </b-col>
  <b-col>
    <b-card>
      <h4 slot="header"><i class="fa fa-upload"></i> Import template</h4>
      <p>Import data you have received back from a donor according to the AMCU import format.</p>
      <b-form method="post" enctype="multipart/form-data" action="{{ url_for('exports.import_template')}}">
        <b-form-group label="Select template type"
          :description="'Selected template: ' + selectedTemplateOptionImportDescription"
          label-class="font-weight-bold">
          <b-form-radio-group name="template_type" :options="templateOptionsImport"
            v-model="selectedTemplateOptionImport" stacked></b-form-radio-group>
        </b-form-group>
        <b-form-group label="Template file" label-for="file-amcu" label-class="font-weight-bold"
        description="Select a file to import. The file must be formatted according to the selected template.">
          <b-form-file id="file-amcu"
          v-model="file"
          name="file"
          required></b-form-file>
        </b-form-group>
        <b-form-group>
          <b-btn type="submit" variant="primary"><i class="fa fa-upload"></i> Import template</b-btn>
        </b-form-group>
      </b-form>
    </b-card>
  </b-col>
</b-row>
<hr />
{% endif %}
{% if loggedinuser.permissions_dict["domestic_external_edit"] in ('domestic', 'both') %}
<b-card>
  <h3 slot="header"><i class="fa fa-upload"></i> Upload data for PSIP projects from IFMIS</h3>
  <p class="lead">Upload an Excel file containing data on PSIP projects exported from IFMIS.</p>
  <b-form
    method="post"
    enctype="multipart/form-data"
    action="{{ url_for('exports.import_psip_transactions')}}">
    <b-form-group label="Select IFMIS data file"
      description="Select an Excel file to import. The file must
        be formatted according to the IFMIS Excel import template."
      label-class="font-weight-bold">
      <b-file id="file" name="file">
    </b-form-group>
    <b-form-group label="Select Fiscal Year"
      description="Import data for one or all fiscal years."
      label-class="font-weight-bold">
      <b-form-select :options="fys"
      v-model="selectedFY" name="fiscal_year">
        <template slot="first">
          <option value="">All Fiscal Years</option>
        </template>
      </b-form-select>
    </b-form-group>
    <b-form-group>
        <b-btn type="submit" variant="primary">
        <i class="fa fa-upload"></i> Import data from IFMIS</b-btn>
    </b-form-group>
  </b-form>
</b-card>
<hr />
{% endif %}
<h1>{{ _('Other formats') }}</h1>
<dl class="dl-horizontal">
  <dt>IATI XML file</dt>
  <dd><code><a href="{{url_for('api.generate_iati_xml', version='2.01', country_code='LR')}}">
    {{url_for('api.generate_iati_xml', version='2.01', country_code='LR', _external=True)}}
  </a></code></dd>
  <dt>CSV file</dt>
  <dd><code><a href="{{url_for('exports.activities_csv')}}">
    {{ url_for('exports.activities_csv', _external=True) }}
  </a></code></dd>
</dl>
<p></p>
<b-modal id="customise-fields" title="Customise columns" size="xl" scrollable ok-only>
  <b-row>
    <b-col cols="8">
      <b-card-group columns>
        <b-card>
          <b-form-group label="Basic columns" label-class="font-weight-bold">
            <b-form-checkbox-group
              v-model="selectedHeaders[selectedTemplateOption]"
              stacked
              :options="headers.basic"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-card>
        <b-card>
          <b-form-group label="Disbursements" label-class="font-weight-bold">
            <b-form-checkbox-group
              v-model="selectedHeaders[selectedTemplateOption]"
              stacked
              :options="headers.disbursement"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-card>
        <b-card>
          <b-form-group label="MTEF Projections" label-class="font-weight-bold">
            <b-form-checkbox-group
              v-model="selectedHeaders[selectedTemplateOption]"
              stacked
              :options="headers.mtef"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-card>
        <b-card>
          <b-form-group label="Counterpart Funding" label-class="font-weight-bold">
            <b-form-checkbox-group
              v-model="selectedHeaders[selectedTemplateOption]"
              stacked
              :options="headers.counterpart_funding"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-card>
        <b-card v-if="headers.custom.length > 0">
          <b-form-group label="Custom headers" label-class="font-weight-bold">
            <b-form-checkbox-group
              v-model="selectedHeaders[selectedTemplateOption]"
              stacked
              :options="headers.custom"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-card>
      </b-card-group>
    </b-col>
    <b-col cols="4">
      <b-card bg-variant="secondary" text-variant="white" header="Selected columns">
        <p>Select columns on the left. Drag below to reorder.</p>
        <draggable v-model="selectedHeaders[selectedTemplateOption]"
          ghost-class="hidden" @start="drag=true" @end="drag=false">
           <div v-for="column in selectedHeaders[selectedTemplateOption]" :key="column"
            class="draggable-item">
            <b-badge variant="light">[[ column ]]</b-badge>
          </div>
        </draggable>
      </b-card>
      <hr />
      <b-form-group label="Add a new custom column"
        description="This will create an additional (empty) column in your spreadsheet. You can use this for collecting data that might not be captured in the Dashboard.">
        <b-form-input placeholder="Enter new column name" v-model="newColumnName"
        size="sm"></b-form-input>
      </b-form-group>
      <b-form-group>
        <b-btn size="sm" @click.prevent="addColumn">Add column</b-btn>
      </b-form-group>
    </b-col>
  </b-row>
</b-modal>
<script type="text/javascript">
  var api_base = "{{ url_for('api.api', _external=True)}}";
  var template_download_url = "{{url_for('exports.export_donor_template')}}"
</script>
{% endblock %}

{% block vuejs %}
<script src="{{url_for('static', filename='packages/sortablejs/Sortable.min.js')}}"></script>
<script src="{{url_for('static', filename='packages/vuedraggable/dist/vuedraggable.umd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/export.js')}}" type="text/javascript"></script>
{% endblock %}