{% set active_page='iati_data_list' %}{% extends "layout.html" %}
{% block title %}{{ _('Export data') }}{% endblock %}
{% block content %}

<h1>{{ _('Export data in Excel format') }}</h1>
<p class="lead">Download all data according to the AMCU Excel export format.</p>
<p><a class="btn btn-sm btn-primary" href="{{url_for('activities_xlsx')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
<h2>Advanced download formats</h2>
<p class="lead">Download detailed AMCU financial transactions data for analysis.</p>
<p><a class="btn btn-sm btn-default" href="{{url_for('activities_xlsx_transactions')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
<p class="lead">Download integrated dataset of AMCU and PSIP projects.</p>
<p><a class="btn btn-sm btn-default" href="{{url_for('all_activities_xlsx')}}"><span class="glyphicon glyphicon-download-alt"></span> {{ _('Download Excel') }}</a></p>
<hr />
<h1>{{ _('Excel reporting templates') }}</h1>
<p class="lead">You can import data that donors have entered on the
  AMCU quarterly reporting template. This means you do not have to go through
  each project and manually update it: you can upload one file for each donor.</p>
<h3><span class="glyphicon glyphicon-download"></span> Download donor quarterly reporting templates</h3>
<p class="lead">Generate quarterly reporting templates for <i>{{ previous_fy_fq }}</i> for one or all donors. You should 
  then send the template to the relevant donor via email, as an Excel attachment.</p>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Select template to download  <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="{{ url_for('export_donor_template')}}">
        Download templates for all donors
      </a>
    </li>
    <li role="separator" class="divider"></li>
    {% for org in funding_orgs %}
    <li><a href="{{ url_for('export_donor_template', organisation_id=org.id) }}">
      Template for {{ org.name }}
    </a></li>
    {% endfor %}
  </ul>
</div>
<h3><span class="glyphicon glyphicon-upload"></span> Import data from quarterly reporting template</h3>
<p class="lead">Import Excel files following the donor quarterly reporting 
  template format.</p>
<form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('import_template')}}">
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">Template file</label>
    <div class="col-sm-10">
      <input type="file" id="file" name="file">
      <p class="help-block">Select an Excel file to import. The file must
        be formatted according to the donor quarterly reporting template.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="file" class="col-sm-2 control-label">FY/FQ data to import</label>
    <div class="col-sm-10">
      <select class="select form-control" name="fy_fq">
        {% for fy_fq in available_fys_fqs %}
        <option value="{{ fy_fq.value }}"{{ fy_fq.selected }}>{{ fy_fq.text }}</option>
        {% endfor %}
      </select>
      <p class="help-block">Select which fiscal year/quarter you would like to import.
      Note that only data from this column will be imported.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-open"></span> Import data from template</button>
    </div>
  </div>
</form>
<hr />
<h1>{{ _('Other formats') }}</h1>
<dl class="dl-horizontal">
  <dt>IATI XML file</dt>
  <dd><code><a href="{{url_for('generate_iati_xml', version='2.01', country_code='LR')}}">
    {{url_for('generate_iati_xml', version='2.01', country_code='LR', _external=True)}}
  </a></code></dd>
  <dt>CSV file</dt>
  <dd><code><a href="{{url_for('activities_csv')}}">
    {{ url_for('activities_csv', _external=True) }}
  </a></code></dd>
</dl>
<p></p>

{% endblock %}
