{% set active_page = active_page|default('index') -%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | Liberia Project Dashboard</title>
    <link href="{{url_for('static', filename='vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='vendor/jquery/1.11.0/jquery-1.11.0.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='vendor/jquery.tablesorter/js/jquery.tablesorter.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='vendor/jquery.tablesorter/js/jquery.tablesorter.widgets.min.js')}}" type="text/javascript"></script>
    <link href="{{url_for('static', filename='css/style.css')}}?v=20190222" media="all" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='vendor/jquery.tablesorter/css/theme.bootstrap.min.css')}}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='vendor/jquery.tablesorter/css/theme.bootstrap_3.min.css')}}" media="all" rel="stylesheet" type="text/css" />
    <style>
    .flashmessage {
        display:none;
    }
    body {
      margin-top:40px;
    }
    </style>
</head>
<body class="{% block body_classes %}{% endblock %}">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{ _('Toggle navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('activities.dashboard')}}">
            <img src="{{url_for('static', filename='img/flag-lr.png')}}" alt="Flag" />
            {{ _('Liberia Project Dashboard') }}
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          {% if loggedinuser.username %}
          <ul class="nav navbar-nav">
            <li {% if active_page == "dashboard" %}class="active"{% endif %}><a href="{{ url_for('activities.dashboard') }}">Home</a></li>
            <li {% if active_page == "activities" %}class="active"{% endif %}><a href="{{ url_for('activities.activities') }}">Activities</a></li>
            {% if loggedinuser.permissions_dict["domestic_external"] in ["domestic", "external", "both"] %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reports
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              {% if loggedinuser.permissions_dict["domestic_external"] in ["domestic", "both"] %}
              <li><a href="{{ url_for('reports.milestones') }}">{{ _('Milestones') }}</a></li>
              {% endif %}
              <li><a href="{{ url_for('reports.counterpart_funding') }}">{{ _('Counterpart funding') }}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('activities.export') }}">{{ _('Export data') }}</a></li>
            <li><a href="{{ url_for('documentation.help') }}">{{ _('Help') }}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ loggedinuser.username }}
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('users.profile') }}">{{ _('Profile') }}</a></li>
                {% if loggedinuser.administrator %}
                <li><a href="{{ url_for('codelists.codelists_management') }}">{{ _('Manage codelists') }}</a></li>
                <li><a href="{{ url_for('users.users') }}">{{ _('Users') }}</a></li>
                {% endif %}
                <li><a href="{{ url_for('users.logout')}} ">{{ _('Logout') }}</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('users.login')}} ">{{ _('Login') }}</a></li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>


  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <br />
        {% for category, message in messages %}
              <div class="alert alert-{{category}} flashmessage">
                <p>{{message}}</p>
              </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
    <script type="text/javascript">
        $('.flashmessage').fadeIn('slow');
    </script>
    <footer class="footer">
      <hr />
    <div class="container">
    <div class="pull-left">
        <p><a href="https://github.com/bsi-liberia/liberia-projects">Source code on Github</a>, released under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL v3.0 License</a>.</p>
    </div>
    <div class="pull-right">
        <p><a href="http://twitter.com/mark_brough">@mark_brough</a></p>
    </div>
    </div></footer>
</body>
</html>
