{% set active_page='profile' %}{% extends "layout2.html" %}
{% block title %}{{ _('Edit profile') }}{% endblock %}
{% block content %}
<h1>{{ _('Edit profile') }}</h1>
<form class="form-horizontal" method="POST">
  <b-form-group
  label="{{ _('Username') }}"
  label-cols-sm="2"
  for="username">
    <b-input type="text" name="username" id="username"
      value="{{ user.username }}" class="form-control" disabled="disabled">
    </b-input>
  </b-form-group>
  <b-form-group
    label="{{ _('Name') }}"
    label-cols-sm="2"
    for="name">
    <b-input type="text" name="name" id="name"
    value="{{ user.name }}" class="form-control"></b-input>
  </b-form-group>
  <b-form-group
    label="{{ _('Organisation') }}"
    label-cols-sm="2"
    for="organisation">
    <b-input type="text" name="organisation" id="organisation"
    value="{{ user.organisation }}" class="form-control"></b-input>
  </b-form-group>
  <b-form-group
    label="{{ _('Email address') }}"
    label-cols-sm="2"
    for="email_address">
    <b-input type="text" name="email_address" id="email_address"
    value="{{ user.email_address }}" class="form-control" disabled="disabled"></b-input>
  </b-form-group>
  <b-form-group
    label="{{ _('Default country') }}"
    label-cols-sm="2"
    for="recipient_country_code">
    <select name="recipient_country_code" id="recipient_country_code"
    class="form-control">
      <option value="">{{ _('Select one...') }}</option>
      {% for country in codelists.Country %}
      <option value="{{country.code}}"
      {% if country.code == user.recipient_country_code %} selected{% endif %}
      >{{country.name}}</option>
      {% endfor %}
    </select>
  </b-form-group>
  {% if user.id %}
  <b-form-group
    label-cols-sm="2"
    for="change_password">
    <b-form-checkbox
      name="change_password" id="change_password" v-model="changePassword">
     <b>{{ _('Change password') }}</b>
    </b-form-checkbox>
  </b-form-group>
  {% endif %}
  <b-form-group
    label="{{ _('Password') }}"
    for="password"
    label-cols-sm="2">
    <b-form-input type="password" name="password" id="password"
      {% if user.id %} :disabled="!(changePassword)" {% endif %} />
    </b-form-input>
  </b-form-group>
  <b-form-group>
      <b-button type="submit" variant="primary">{% if user.id %}{{ _('Update User') }}{% else %}{{ _('Add User') }}{% endif %}</b-button>
  </b-form-group>
</form>

{% endblock %}
{% block vuejs %}
<script src="{{url_for('static', filename='js/profile_edit.js')}}" type="text/javascript"></script>
{% endblock %}
