{% set active_page='users' %}{% extends "layout2.html" %}
{% block title %}{{ _('Users') }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h1>{{ _('Users') }}</h1>
  </div>
  <div class="col-md-2 text-right">
    <a class="btn btn-success btn-large" href="{{ url_for('users.users_new') }}">
      <i class="fa fa-plus"></i>
      {{ _('New user') }}
    </a>
  </div>
</div>
<div class="alert alert-secondary" role="alert">View the
  <a href="{{ url_for('users.users_log') }}">
  {{ _('Activity log') }}
  </a>
</div>
<b-table class="table" :fields="fields" :items="items" :busy="isBusy">
  <div v-slot:table-busy class="text-center">
    <b-spinner class="align-middle" label="Loading..."></b-spinner>
    <strong>Loading...</strong>
  </div>
  <template v-slot:cell(user_roles)="data">
    <b-badge variant="secondary" v-for="role in data.item.user_roles">
      [[ role.name ]]
    </b-badge>
  </template>
  <template v-slot:cell(edit)="data">
    <a :href="'{{url_for('users.users', _external=True)}}' + data.item.id"
      title="Edit user"
      v-b-tooltip.hover>
      <span class="fa fa-edit"></span>
    </a>
  </template>
</b-table>
{% endblock %}
{% block vuejs %}
<script>
var api_base = "{{ url_for('api.api', _external=True)}}";
Vue.config.devtools = true
new Vue({
  el: "#app",
  delimiters: ["[[", "]]"],
  data() {
    return {
      fields: [],
      items: [],
      isBusy: true
    }
  },
  mounted: function() {
    this.getUsers()
  },
  methods: {
    getUsers: function() {
      axios
        .get(`${api_base}users.json`)
        .then((response) => {
          this.fields = ['username', 'name', 'organisation', 'user_roles', 'edit'].map(field => {
            return { 'key': field, 'sortable': true }
          })
          this.items = response.data.users
          this.isBusy = false
        });
      }
  }
})
</script>
{% endblock %}