{% set active_page='users' %}{% extends "layout.html" %}
{% block title %}{{ _('Users') }}{% endblock %}
{% block content %}
<h1>{{ _('Users') }}</h1>

<a class="btn btn-success btn-large pull-right" href="{{ url_for('users.users_new') }}">
  <i class="glyphicon glyphicon-plus"></i>
  {{ _('New user') }}
</a>
<table class="table" id="usersList">
  <thead>
    <th>{{ _('Username') }}</th>
    <th>{{ _('Name') }}</th>
    <th>{{ _('Organisation') }}</th>
    <th>{{ _('Country') }}</th>
    <th>{{ _('Edit') }}</th>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.organisation }}</td>
      <td>{{ user.recipient_country.name }}</td>
      <td><a href="{{url_for('users.users_edit',
            user_id = user.id)}}"
            class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
          </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#usersList").tablesorter( {sortList: [[0,0]]} );
    }
);
</script>
{% endblock %}
